/*!
 * blackbird
 * 
 * 
 * @author Thomas Duerr <thomduerr@gmail.com> (http://git.io/thomd)
 * @version 0.0.1
 * Copyright . MIT licensed.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.transition {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.fade.in {
  opacity: 1;
}

@font-face {
  font-family: "foo";
  font-weight: normal;
  font-style: normal;
  src: url("/path/to/foo.eot");
  src: url("/path/to/foo.eot?#iefix") format("embedded-opentype"), url("/path/to/foo.woff") format("woff"), url("/path/to/foo.ttf") format("truetype"), url("/path/to/foo.svg#foo") format("svg");
}
p {
  font-family: foo, Helvetica, Arial, sans-serif;
}
