/*!
 * blackbird
 * 
 * 
 * @author Thomas Duerr <thomduerr@gmail.com> (http://git.io/thomd)
 * @version 0.0.1
 * Copyright . MIT licensed.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.transition {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.fade.in {
  opacity: 1;
}

@font-face {
  font-family: "foo";
  font-weight: normal;
  font-style: normal;
  src: url("/path/to/foo.eot");
  src: url("/path/to/foo.eot?#iefix") format("embedded-opentype"), url("/path/to/foo.woff") format("woff"), url("/path/to/foo.ttf") format("truetype"), url("/path/to/foo.svg#foo") format("svg");
}
p {
  font-family: foo, Helvetica, Arial, sans-serif;
}

input[type=radio] {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  opacity: 0;
  cursor: pointer;
}
input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: 0% 0% transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
input[type=radio]:checked + label:before {
  border-color: #3384EF;
}
input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background: #3384EF;
  border-radius: 50%;
}
input[type=radio]:hover + label:before {
  border-color: #3384EF;
}
input[type=radio]:hover + label {
  color: #3384EF;
}
input[type=radio] + label {
  padding-left: 24px;
  position: relative;
  display: block;
  cursor: pointer;
}
