.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.transition {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.fade.in {
  opacity: 1;
}

@font-face {
  font-family: "foo";
  font-weight: normal;
  font-style: normal;
  src: url("/path/to/foo.eot");
  src: url("/path/to/foo.eot?#iefix") format("embedded-opentype"), url("/path/to/foo.woff") format("woff"), url("/path/to/foo.ttf") format("truetype"), url("/path/to/foo.svg#foo") format("svg");
}
p {
  font-family: foo, Helvetica, Arial, sans-serif;
}

.my-text-container {
  position: absolute;
  width: 200px;
  height: 100px;
}
.my-text-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

body {
  margin: 0;
  font: 1.125em/1.4 "Droid Sans", "Helvetica", "Arial", sans-serif;
}

header {
  background: none repeat scroll 0 0 #c69;
  border-bottom: 0.5em solid #aa628d;
  color: white;
  margin-bottom: 5rem;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
}
header h1 {
  font-size: 6em;
  margin-top: 0;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 1px #aa628d, 2px 2px #aa628d, 3px 3px #aa628d, 4px 4px #aa628d, 5px 5px #aa628d, 6px 6px #aa628d, 7px 7px #aa628d, 8px 8px #aa628d, 9px 9px #aa628d, 10px 10px #aa628d, 11px 11px #aa628d, 12px 12px #aa628d, 13px 13px #aa628d, 14px 14px #aa628d, 15px 15px #aa628d, 16px 16px #aa628d, 17px 17px #aa628d, 18px 18px #aa628d, 19px 19px #aa628d, 20px 20px #aa628d, 21px 21px #aa628d, 22px 22px #aa628d, 23px 23px #aa628d, 24px 24px #aa628d, 25px 25px #aa628d, 26px 26px #aa628d, 27px 27px #aa628d, 28px 28px #aa628d, 29px 29px #aa628d, 30px 30px #aa628d, 31px 31px #aa628d, 32px 32px #aa628d, 33px 33px #aa628d, 34px 34px #aa628d, 35px 35px #aa628d, 36px 36px #aa628d, 37px 37px #aa628d, 38px 38px #aa628d, 39px 39px #aa628d, 40px 40px #aa628d, 41px 41px #aa628d, 42px 42px #aa628d, 43px 43px #aa628d, 44px 44px #aa628d, 45px 45px #aa628d, 46px 46px #aa628d, 47px 47px #aa628d, 48px 48px #aa628d, 49px 49px #aa628d, 50px 50px #aa628d, 51px 51px #aa628d, 52px 52px #aa628d, 53px 53px #aa628d, 54px 54px #aa628d, 55px 55px #aa628d, 56px 56px #aa628d, 57px 57px #aa628d, 58px 58px #aa628d, 59px 59px #aa628d, 60px 60px #aa628d, 61px 61px #aa628d, 62px 62px #aa628d, 63px 63px #aa628d, 64px 64px #aa628d, 65px 65px #aa628d, 66px 66px #aa628d, 67px 67px #aa628d, 68px 68px #aa628d, 69px 69px #aa628d, 70px 70px #aa628d, 71px 71px #aa628d, 72px 72px #aa628d, 73px 73px #aa628d, 74px 74px #aa628d, 75px 75px #aa628d, 76px 76px #aa628d, 77px 77px #aa628d, 78px 78px #aa628d, 79px 79px #aa628d, 80px 80px #aa628d, 81px 81px #aa628d, 82px 82px #aa628d, 83px 83px #aa628d, 84px 84px #aa628d, 85px 85px #aa628d, 86px 86px #aa628d, 87px 87px #aa628d, 88px 88px #aa628d, 89px 89px #aa628d, 90px 90px #aa628d, 91px 91px #aa628d, 92px 92px #aa628d, 93px 93px #aa628d, 94px 94px #aa628d, 95px 95px #aa628d, 96px 96px #aa628d, 97px 97px #aa628d, 98px 98px #aa628d, 99px 99px #aa628d, 100px 100px #aa628d, 101px 101px #aa628d, 102px 102px #aa628d, 103px 103px #aa628d, 104px 104px #aa628d, 105px 105px #aa628d, 106px 106px #aa628d, 107px 107px #aa628d, 108px 108px #aa628d, 109px 109px #aa628d, 110px 110px #aa628d, 111px 111px #aa628d, 112px 112px #aa628d, 113px 113px #aa628d, 114px 114px #aa628d, 115px 115px #aa628d, 116px 116px #aa628d, 117px 117px #aa628d, 118px 118px #aa628d, 119px 119px #aa628d, 120px 120px #aa628d, 121px 121px #aa628d, 122px 122px #aa628d, 123px 123px #aa628d, 124px 124px #aa628d, 125px 125px #aa628d, 126px 126px #aa628d, 127px 127px #aa628d, 128px 128px #aa628d, 129px 129px #aa628d, 130px 130px #aa628d, 131px 131px #aa628d, 132px 132px #aa628d, 133px 133px #aa628d, 134px 134px #aa628d, 135px 135px #aa628d, 136px 136px #aa628d, 137px 137px #aa628d, 138px 138px #aa628d, 139px 139px #aa628d, 140px 140px #aa628d, 141px 141px #aa628d, 142px 142px #aa628d, 143px 143px #aa628d, 144px 144px #aa628d, 145px 145px #aa628d, 146px 146px #aa628d, 147px 147px #aa628d, 148px 148px #aa628d, 149px 149px #aa628d, 150px 150px #aa628d, 151px 151px #aa628d, 152px 152px #aa628d, 153px 153px #aa628d, 154px 154px #aa628d, 155px 155px #aa628d, 156px 156px #aa628d, 157px 157px #aa628d, 158px 158px #aa628d, 159px 159px #aa628d, 160px 160px #aa628d, 161px 161px #aa628d, 162px 162px #aa628d, 163px 163px #aa628d, 164px 164px #aa628d, 165px 165px #aa628d, 166px 166px #aa628d, 167px 167px #aa628d, 168px 168px #aa628d, 169px 169px #aa628d, 170px 170px #aa628d, 171px 171px #aa628d, 172px 172px #aa628d, 173px 173px #aa628d, 174px 174px #aa628d, 175px 175px #aa628d, 176px 176px #aa628d, 177px 177px #aa628d, 178px 178px #aa628d, 179px 179px #aa628d, 180px 180px #aa628d, 181px 181px #aa628d, 182px 182px #aa628d, 183px 183px #aa628d, 184px 184px #aa628d, 185px 185px #aa628d, 186px 186px #aa628d, 187px 187px #aa628d, 188px 188px #aa628d, 189px 189px #aa628d, 190px 190px #aa628d, 191px 191px #aa628d, 192px 192px #aa628d, 193px 193px #aa628d, 194px 194px #aa628d, 195px 195px #aa628d, 196px 196px #aa628d, 197px 197px #aa628d, 198px 198px #aa628d, 199px 199px #aa628d, 200px 200px #aa628d, 201px 201px #aa628d, 202px 202px #aa628d, 203px 203px #aa628d, 204px 204px #aa628d, 205px 205px #aa628d, 206px 206px #aa628d, 207px 207px #aa628d, 208px 208px #aa628d, 209px 209px #aa628d, 210px 210px #aa628d, 211px 211px #aa628d, 212px 212px #aa628d, 213px 213px #aa628d, 214px 214px #aa628d, 215px 215px #aa628d, 216px 216px #aa628d, 217px 217px #aa628d, 218px 218px #aa628d, 219px 219px #aa628d, 220px 220px #aa628d;
}
